.panel h3 {
	font-weight: bold;
}

.panel h4 {
	margin-top: 0;
	font-weight: bold;
}

.card .panel-heading {
	padding: 0;
}

.card .panel-heading img {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.card hr {
	margin-top: 11px;
	margin-bottom: 11px;
}

.page-header {
	margin: 0 0 22px;
}